<div class="content-box">

  <section>
    <h2>About</h2>
    <p>Kelly Munro is a New Zealand based nature, wildlife and landscape photographer. She is a member of the Photographic Society of New Zealand (PSNZ) and the Kapiti Camera Club. Her work has featured in exhibitions in both New Zealand and Australia.</p>

    <h2>Exhibitions</h2>
    <ul id="exhibitions">
      <li><span class="year">2015</span> - <a href="http://natex.psnzconvention2015.co.nz/">NATEX - Photographic Society of New Zealand National Exhibition</a> - Tauranga</li>
      <li><span class="year">2013</span> - <a href="http://www.photospacegallery.com/2013---17-projects-group-show.html">17 Projects Group Show</a> - Photospace Gallery, Wellington</li>
      <li><span class="year">2010</span> - <a href="https://www.canon.co.nz/sitecore/testing/Home/About-Canon/News-Events/Events/Photo5-Exhibition?sc_lang=en">Canon Photo5 Exhibition</a> - Carriageworks, Sydney, Australia</li>
    </ul>
  </section>
</div>