<div class="content-box">
  <section>
    <h2>About</h2>
    <p>Kelly Munro is a New Zealand based nature, wildlife and landscape photographer. She is a member of the Photographic Society of New Zealand (PSNZ) and the Kapiti Camera Club. She attained her Licentiate of the Photographic Society of New Zealand (LPSNZ) in 2016. Her work has featured in exhibitions in both New Zealand and Australia.</p>

    <h2>Awards</h2>
    <ul id="awards">
      <li><span class="year">2016</span> - Licentiate of the Photographic Society of New Zealand (LPSNZ)</li>
    </ul>

    <h2>Exhibitions</h2>
    <ul id="exhibitions">
      <li><span class="year">2018</span> - NATEX - Photographic Society of New Zealand National Exhibition - Dunedin</li>
      <li><span class="year">2015</span> - NATEX - Photographic Society of New Zealand National Exhibition - Tauranga</li>
      <li><span class="year">2013</span> - <a href="http://www.photospacegallery.com/2013---17-projects-group-show.html">17 Projects Group Show</a> - Photospace Gallery, Wellington</li>
      <li><span class="year">2010</span> - Canon Photo5 Exhibition - Carriageworks, Sydney, Australia</li>
    </ul>
  </section>
</div>