<div class="content-box">
  <section>
    <h2>About</h2>
    <p>Kelly Munro APSNZ is a New Zealand based nature, wildlife and landscape photographer. She is a member of the Photographic Society of New Zealand (PSNZ), the Porirua Photography Club and the Kapiti Coast Photographic Society. She attained her Licentiate of the Photographic Society of New Zealand (LPSNZ) in 2016, followed by her Associateship of the Photographic Society of New Zealand (APSNZ) in 2019. Her work has featured in exhibitions in both New Zealand and Australia.</p>

    <h2>Honours</h2>
    <ul id="honours">
      <li><span class="year">2019</span> - Associateship of the Photographic Society of New Zealand (APSNZ)</li>
      <li><span class="year">2016</span> - Licentiate of the Photographic Society of New Zealand (LPSNZ)</li>
    </ul>

    <h2>Exhibitions</h2>
    <ul id="exhibitions">
      <li><span class="year">2022</span> - Photographic Society of New Zealand National Exhibition</li>
      <li><span class="year">2020</span> - Vision 2020 - an Exhibition by the Kapiti Coast Photographic Society - Paraparaumu</li>
      <li><span class="year">2020</span> - Photographic Society of New Zealand National Exhibition</li>
      <li><span class="year">2019</span> - Kapiti Camera Club - 50 Years of Photography Exhibition - Bottle Creek Gallery, Pataka, Porirua</li>
      <li><span class="year">2018</span> - NATEX - Photographic Society of New Zealand National Exhibition - Dunedin</li>
      <li><span class="year">2015</span> - NATEX - Photographic Society of New Zealand National Exhibition - Tauranga</li>
      <li><span class="year">2013</span> - <%= link_to '17 Projects Group Show', 'http://www.photospacegallery.com/2013---17-projects-group-show.html', target: '_blank' %> - Photospace Gallery, Wellington</li>
      <li><span class="year">2010</span> - Canon Photo5 Exhibition - Carriageworks, Sydney, Australia</li>
    </ul>

    <h2>Publications</h2>
    <ul id="publications">
      <li><span class="year">2019</span> - New Zealand Camera</li>
    </ul>
  </section>
</div>