<div class="content-box">

  <section id="primary">
    <h2>General Information</h2>
    <p>For image licensing and general inquiries please contact me via <a href="mailto:info@kellymunro.com">email</a>.</p>
    <p>All images featured on this site remain the copyright of Kelly Munro and may not be used without written permission.</p>
    <p>If you have any questions, please don't hesitate to contact me.</p>
  </section>

  <section id="secondary">
    <h2>Contact Details</h2>
    <ul class="contact-info">
      <li class="email"><a href="mailto:info@kellymunro.com">info@kellymunro.com</a></li>
    </ul>
  </section>

</div>