/*
 *= require normalize-rails
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@import 'colours.scss';

/*------------Layout Styles----------------------*/

body {
  background-color: $background-color;
}

.container {
  margin: 0 auto;
  padding: 40px;
  max-width: 950px;
}

.flexible-container {
  display: flex;
  flex-direction: row;
}

section {
  background-color: #F2F2F2;
  padding: 5px 15px;
  margin-bottom: 20px;
  border: 2px solid $text-color;
}


/*------------Text Styles------------------------*/

h2, h3, p, li, nav {
  font-family: 'Dosis', sans-serif;
  color: $text-color;
}

h2 {
  margin-top: 10px;
}

a {
  color: $link-color;
}

a:visited {
  color: $link-color;
}


/*------------Site Title Styles------------------*/

.header-container {
  border-top: 15px solid $background-color;
  background-color: rgba($header-color, 0.5);
  padding: 10px 0;
}

header {
  height: 120px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $header-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.site-title {
  margin: 10px 0 0 20px;
  padding: 10px 15px;
  float: left;
  text-align: left;
}

.site-title h1,
.site-title h2 {
  color: $text-color;
  font-weight: normal;
}

.site-title h1 {
  font-size: 2.1em;
  margin: 0 0 10px 0;
  font-family: 'Yellowtail', cursive;
  border-bottom: 2px solid $text-color;
  padding-bottom: 7px;
}

.site-title h2 {
  font-size: 1em;
  margin: 0;
  text-transform: uppercase;
}


/*------------Navbar Styles----------------------*/

nav {
  margin: 0;
  padding-right: 20px;
  text-transform: uppercase;
  text-align: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 15px 10px 10px;
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
}

nav a,
nav a:visited {
  text-decoration: none;
  color: $text-color;
}

nav a:hover {
  color: $background-color;
}


/*------------Footer Styles----------------------*/

footer {
  border-top: 1px dashed $text-color;
  text-align: center;
}