/*
 *= require normalize-rails
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

.content-box {
  padding: 40px;
}

#primary {
  float: left;
  width: 45%;
}

#secondary {
  float: right;
  width: 45%;
}