/*
 *= require normalize-rails
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

/*------------Layout Styles----------------------*/

body {
  background-color: #d7ccc8;
}

.content-box {
  margin: 0 auto;
  padding: 40px;
  max-width: 950px;
}

#primary,
#secondary {
  width: 45%;
}

#primary {
  float: left;
}

#secondary {
  float: right;
}

section {
  background-color: #ffffd1;
  box-shadow: 3px 3px 15px #999;
  padding: 5px 15px;
  margin-bottom: 20px;
}


/*------------Text Styles------------------------*/

h2, h3, p, li, nav {
  font-family: 'Dosis', sans-serif;
  color: #5d4037;
}

h2 {
  margin-top: 10px;
}

a {
  color: #795548;
}

a:visited {
  color: #795548;
}


/*------------Site Title Styles------------------*/

header {
  height: 120px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #8A6B5F;
  border-bottom: 2px solid #5d4037;
}

.site-title {
  margin: 10px 0 0 20px;
  padding: 10px 15px;
  float: left;
  text-align: left;
  background-color: #ffffd1;
  box-shadow: 3px 3px 15px #999;
}

.site-title h1,
.site-title h2 {
  color: #5d4037;
}

.site-title h1 {
  font-size: 1.8em;
  margin: 0;
  font-family: 'Shadows Into Light', cursive;
}

.site-title h2 {
  font-size: 1.2em;
  margin: 0;
  text-transform: uppercase;
}


/*------------Navbar Styles----------------------*/

nav {
  float: right;
  margin: 0;
  padding-right: 20px;
  text-transform: uppercase;
  text-align: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  background-color: #ffffd1;
  display: inline-block;
  margin: 15px 10px 10px;
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
  box-shadow: 3px 3px 15px #999;
}

nav a,
nav a:visited {
  text-decoration: none;
  color: #5d4037;
}

nav a:hover {
  color: #795548;
}