.error-message,
#welcome-message {
  padding: 10px 20px;
  width: 250px;
  position: absolute;
  top: 40%;
  left: 40%;
}

#welcome-message {
  background-color: #FFFFD1;
}

.error-message {
  background-color: #FFD1FF;
}

#welcome-message,
.gallery-image,
.error-message {
  box-shadow: 3px 3px 15px #999;
}

#gallery-wall {
  background-color: #d7ccc8;
  position: relative;
  margin: 0;
  padding: 10px;
  height: 550px;
}

.gallery-image {
  border: 10px solid #727272;
  width: 250px;
  background-color: #727272;
}

.gallery-image img {
  width: 100%;
  padding: 0;
}

.gallery-image p {
  background-color: #b6b6b6;
  margin: 3px 0 0;
  padding: 10px;
}