<div class="container">
  <h2 class="category-name">Portfolio</h2>

  <div class="portfolio-list">
    <% @categories.each do |category| %>
      <div class="portfolio">
        <a href="<%= portfolio_path(category) %>">
          <%= image_tag(category.image_url, alt: category.name) %>
          <p><%= category.name %></p>
        </a>
      </div>
    <% end %>
  </div>
</div>
