<h2 class="category-name"><%= @category.name %></h2>

<ul class="portfolio-list">
  <% @images.each do |image| %>
    <li class="gallery-image">
      <img src="<%= image.filename %>" alt="<%= image.description %>">
      <p><%= image.title %></p>
    </li>
  <% end %>
</ul>