<h2 class="category-name"><%= link_to "Portfolio", portfolio_index_path %> &gt; <%= @category.name %></h2>

<ul class="portfolio-list">
  <% @images.each do |image| %>
    <li class="gallery-image">
      <%= image_tag(image.filename, alt: image.description) %>
      <p><%= image.title %></p>
    </li>
  <% end %>
</ul>